In [1]:
import pandas as pd
from io import StringIO

In [2]:
# Sample data
data = """
"game_id","game_date","matchup","team_id.x","is_home","wl","w","l","w_pct","min","fgm","fga","fg_pct","fg3m","fg3a","fg3_pct","ftm","fta","ft_pct","oreb","dreb","reb","ast","stl","blk","tov","pf","pts","a_team_id.x","season_year","season_type","season","book_name_spread","book_id_spread","team_id.y","a_team_id.y","spread1","spread2","price1_spread","price2_spread","book_name_total","book_id_total","team_id","a_team_id","total1","total2","price1_total","price2_total"
20600003,2006-11-01,"ATL @ PHI",1610612755,"t","W",1,0,1,240,31,74,0.419,3,9,0.333,23,25,1,15,32,47,19,10,6,16,22,88,1610612737,2006,"Regular Season","2006-07","Bookmaker",93,1610612737,1610612755,5.5,-5.5,-110,-110,"Pinnacle Sports",238,1610612737,1610612755,199,199,-111,101
20600003,2006-11-01,"PHI vs. ATL",1610612737,"f","L",0,1,0,240,26,78,0.333,4,17,0.235,19,22,1,17,25,42,11,9,4,18,24,75,1610612755,2006,"Regular Season","2006-07","Pinnacle Sports",238,1610612737,1610612755,5.5,-5.5,-102,-108,"Pinnacle Sports",238,1610612737,1610612755,199,199,-111,101
20600004,2006-11-01,"IND @ CHA",1610612766,"t","L",0,1,0,240,37,78,0.474,4,10,0.4,21,32,1,11,35,46,23,8,7,22,29,99,1610612754,2006,"Regular Season","2006-07","5Dimes",19,1610612754,1610612766,-1,1,-110,-110,"5Dimes",19,1610612754,1610612766,193.5,193.5,-110,-110
20600004,2006-11-01,"CHA vs. IND",1610612754,"f","W",1,0,1,240,35,86,0.407,6,16,0.375,30,41,1,18,32,50,26,14,5,17,26,106,1610612766,2006,"Regular Season","2006-07","5Dimes",19,1610612754,1610612766,-1,1,-110,-110,"5Dimes",19,1610612754,1610612766,193.5,193.5,-110,-110
"""

# Read the data into a pandas DataFrame
df = pd.read_csv(StringIO(data))

# Merge the DataFrame with itself to include opposing team's stats
merged_df = pd.merge(
    df,
    df,
    left_on=["game_id", "team_id.x"],
    right_on=["game_id", "a_team_id.x"],
    suffixes=("", "_opp")
)

In [ ]:
# Drop duplicate columns and rename for clarity
columns_to_keep = [
    "game_id", "game_date", "matchup", "team_id.x", "is_home", "wl", "w", "l", "w_pct", "min", "fgm", "fga", "fg_pct",
    "fg3m", "fg3a", "fg3_pct", "ftm", "fta", "ft_pct", "oreb", "dreb", "reb", "ast", "stl", "blk", "tov", "pf", "pts",
    "team_id.x_opp", "w_pct_opp", "min_opp", "fgm_opp", "fga_opp", "fg_pct_opp",
    "fg3m_opp", "fg3a_opp", "fg3_pct_opp", "ftm_opp", "fta_opp", "ft_pct_opp", "oreb_opp", "dreb_opp", "reb_opp",
    "ast_opp", "stl_opp", "blk_opp", "tov_opp", "pf_opp", "pts_opp"
]
final_df = merged_df[columns_to_keep]

# Display the transformed DataFrame
print(final_df)

    game_id   game_date      matchup   team_id.x is_home wl  w  l  w_pct  min  \
0  20600003  2006-11-01    ATL @ PHI  1610612755       t  W  1  0      1  240
1  20600003  2006-11-01  PHI vs. ATL  1610612737       f  L  0  1      0  240
2  20600004  2006-11-01    IND @ CHA  1610612766       t  L  0  1      0  240
3  20600004  2006-11-01  CHA vs. IND  1610612754       f  W  1  0      1  240

   ...  ft_pct_opp  oreb_opp  dreb_opp  reb_opp  ast_opp  stl_opp  blk_opp  \
0  ...           1        17        25       42       11        9        4
1  ...           1        15        32       47       19       10        6
2  ...           1        18        32       50       26       14        5
3  ...           1        11        35       46       23        8        7

   tov_opp  pf_opp  pts_opp
0       18      24       75
1       16      22       88
2       17      26      106
3       22      29       99

[4 rows x 53 columns]

In [6]:
final_df.to_csv('nba_merged.csv', index=False)